.content-div{
  //background-image:url('https://images.unsplash.com/photo-1522093007474-d86e9bf7ba6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80');
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position:center;
  //min-height: 100%;
  //height: 35vh;
  max-height: 50vh ;
  min-height: 150px;
  min-width: 200px;
  //height: 40vh;
}
.content-div:hover{
  //background-image:
  //        linear-gradient(to right,
  //                rgba(126, 213, 111, 0.801), hsla(160, 64%, 43%, 0.801) )
          //url('https://images.unsplash.com/photo-1522093007474-d86e9bf7ba6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80');
}

.text-part{
  //height: 150%;
  //width: 100%;
  //display: flex;
  //flex-direction: column;
  //display:block;
  //width:100%;
  //height: 50%;
  //top:0
  //min-height: 100%;
}
.image-cover > img{

  //height:auto;
  //max-height: 192px;
  //margin-left:auto;
  //margin-right:auto;
  //min-height: inherit;
}

/*
-remove the classes below if you have the 'group-hover'property added in your tailwind config file
-also remove the class from the html template
*/
.content-div:hover .fd-cl{
  opacity: 0.25;
}
.content-div:hover .fd-sh{
  opacity: 1;
}
